#cajaDer {
    margin-top: 30vh;
}

#olv {
    margin-left: 16.5vw;
}

#IS {
    margin-left: 1vw;
}

#registro {
    width: 7.75vw;
}

#is {
    margin-right: 5vw;
}

#contra {
    margin-left: 1vw;
}

h1 {
    color: #FF7733;
}